*{
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #FFF7ED;
  color: #000000;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#root {
  /* max-width: 1920px; */
  margin: 0 auto;
  text-align: center;
}

/* Navbar */

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 1em;
  background-color: #FFF7ED;
}

.links-container {
  display: flex;
  align-items: center;
  padding: 0 0.5em;
  gap: 0.9em;
  color: #4D4D4D;
}

.nav-container > a, .links-container > a, .host-layout-container > a {
  text-decoration: none;
}

.nav-container a:hover, .host-layout-container a:hover { 
  color: #161616;
  text-decoration: underline;
}

#vanlife-link {
  font-size: 2em;
  color: #000000;
  font-weight: bold;
}

.links-container > a {
  color: #4D4D4D;
}

.active-link {
  font-weight: bold;
  text-decoration: underline;
  color: #161616;
}

/* Home page */

.hero {
  background:  linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)), url("./assets/image53.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 350px;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  overflow: hidden;
  text-align: left;
  padding: 45px 23px;
  color: #FFF7ED;
}

.hero > p {
  line-height: 24px;
  font-size: 1.1rem;
}

.hero > h1 {
  font-size: 2.4rem;
  line-height: 42px;
}

.search-van-btn {
  background-color: #FF8C38;
  width: 100%;
  text-align: center;
  height: 3em;
  margin-top: 4em;
  font-weight: bold;
}

/* About page */

.about-page-picture {
  width: 100%;
}

.about-page-picture > img {
  width: 100%;
}

.about-page-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #FFF7ED;
  color: #161616;
  height: 100vh;
  padding: 0 2em;
}

.about-page-content {
  padding-inline: 23px;
  color: #161616;
}

.about-page-content h1 {
  line-height: 38px;
}

.about-page-content p {
  line-height: 22px;
}

.about-page-cta {
  background-color: #FFCC8D;
  color: #161616;
  padding-inline: 32px;
  padding-bottom: 32px;
  margin-inline: 27px;
  border-radius: 5px;
  margin-top: 30px;
}

.about-page-cta h2 {
  margin: 0;
  padding-block: 37px;
}

.about-page-cta .link-button {
  background-color: #161616;
  color: white;
  border-radius: 10px;
}

/* Vans */

.vans-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 160px);
  justify-content: space-around;
}

.van-list-filter-btn-container {
  display: flex;
  margin: 1em;
  gap: 10px;
}

.van-list-filter-btn-container > a {
  color: #4D4D4D;
  border-radius: 5px;
  padding: 10px;
}

.van-type-link {
  background-color: #FFEAD0;
}

.van-type-link:hover {
  color: #FFEAD0;
}

.van-type-link:focus {
  outline: none;
}

.van-type-link.simple:hover, .van-type-link.simple.selected {
  background-color: #E17654;
  color: #FFF7ED;
}

.van-type-link.rugged:hover, .van-type-link.rugged.selected {
  background-color: #115E59;
  color: #FFF7ED;
}

.van-type-link.luxury:hover, .van-type-link.luxury.selected {
  background-color: #161616;
  color: #FFF7ED;
}

.van-type-link-link.selected {
color: #FFEAD0;
}

.van-type-clear-filter {
  text-decoration: underline;
  margin-left: 20px;
}

/* VanCard */

.van-card {
  color: #000000;
  text-align: start;
}

.van-card > img {
  width: 160px;
  border-radius: 5px;
}

.van-card-text {
  display: flex;
  justify-content: space-between;
  align-items:baseline;
  font-size: 0.85rem;
  margin-top: -15px;
}

.van-card-price-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0;
}


.van-card-price-container h3 {
  margin: auto 0 0 0;
}

.van-card-price-container p {
  margin: 0; 
  padding: 0;
}

.van-card-type {
  color: white;
  /* background-color: #E17654; */
  display: inline-flex;
  padding: 0.25em 0.5em;
  border-radius: 5px;
  font-weight: normal;
  margin: 10px 0;
}

.van-card-type-simple-selected {
  background-color: #E17654;
}

.van-card-type-rugged-selected {
  background-color: #115E59;
}

.van-card-type-luxury-selected {
  background-color: #161616;
}

/* VanDetails */

.van-data-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 1.5em;
}

.van-data-container > a {
  color: #4D4D4D;
  text-align: left;
  margin: 0.5em 0;
}

.van-data {
  text-align: left;
}

.van-data > img {
  border-radius: 5px;
  width: 100%;
} 

.van-data > button {
  background-color:#FF8C38;
  width: 100%;
  margin: 1em 0;
}

.van-data > h2 {
  margin: 0.4em 0;
} 

.van-data > h3 {
  margin: 0.4em 0;
}

.van-data > p {
  line-height: 22px;
}

/* HostLayout */

.host-layout-container {
  display: flex;
  align-items: center;
  padding: 0 1em;
  gap: 0.9em;
  color: #4D4D4D;
}

.host-layout-container > a {
  color: #4D4D4D;
}

/* HostVans */

.host-van-list {
  display: flex;
  flex-direction: column;
  gap: 20px
}

.host-van-element {
  display: flex;
  flex-direction: column;
  height: 100px;
  margin: 0 1em;
  background-color: #FFFFFF;
  border-radius: 5px;
}

.host-van-element > a {
  text-decoration: none;
  color: #000000;
  display: flex;
  align-items: center;
  height: 100px;
  margin-left: 1em;
}

.host-van-element > a > img {
  height: 70px;
  border-radius: 5px;
}

.host-van-info {
  margin-left: 15px;
  text-align: left;
}

.host-van-info > h2, .host-van-info > p {
  margin: 0;
  padding: 0;
}

.host-van-info > h2 {
  font-size: 1em;
}

/* HostVansLayout */

.host-vans-layout-container {
  display: flex;
  align-items: center;
  gap: 0.9em;
  color: #4D4D4D;
  margin: 1em 0;
}

.host-vans-layout-container > a {
  text-decoration: none;
}

.host-vans-layout-container > a:hover { 
  color: #161616;
  text-decoration: underline;
}

.host-vans-layout-container > a {
  color: #4D4D4D;
}

/* HostVansDetalis */

.host-van-details-container {
  margin: 1.5em 1em;
  text-align: left;
}

.host-van-details-container > a {
  color:#4D4D4D;
}

.host-van-details-tile-container {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  padding: 1em;
  margin: 1em 0;
  height: 100vh;
}

.host-van-details-tile-container > p {
  margin: 8px 0;
  line-height: 22px;
}

.host-van-details-tile-container > p > span {
  font-weight: bold;
}

.host-van-tile-info-flex-container {
  display: flex;
  flex-direction: columns;
  align-items: center;
  gap: 10px
}

.host-van-tile-info-flex-container > img {
  width: 150px;
  border-radius: 5px;
}

.host-van-info-box {
  padding: 20px;
}

.host-van-info-box > h1, .host-van-info-box > h2 , .host-van-info-box > h4{
  margin: 0;
}

.host-van-info-box > h1 {
  font-size: 1.5rem;
}

.host-van-info-box > h2 {
  font-size: 1.2rem;
}

.host-van-info-box > h2 > span {
  font-size: 1rem;
}

.host-van-info-box > h4 {
  font-size: 0.9rem;
}

/* NotFound */

.not-found-info-container {
  margin: 2em 1em;
  text-align: left;
}

.return-to-home-link {
  text-align: center;
  display: block;
  width: 100%;
  padding: 0.7em 1em;
  border-radius: 5px;
  color: #FFFFFF;
  background-color: #161616; 
}

/* Login */

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 27px;
}

.login-container-text { 
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}

.login-container-text > h2, .login-container-text > h1 {
  margin: 0;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;    
}

.login-form > input {
  border: 1px solid rgba(209, 213, 219);
  height: 40px;
  text-indent: 10px;
  font-family: "Inter", sans-serif;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  font-weight: 400;
  background-color: #FFFFFF;
  color: #4D4D4D;
}

.login-form > input:focus {
  outline: none;
}

.login-form > input:first-of-type {
  border-radius: 6px 6px 0px 0px;
}

.login-form > input:last-of-type {
  border-radius: 0px 0px 6px 6px;
  border-top: none;
}

.login-form > button {
  background-color: #FF8C38;
  border: none;
  border-radius: 6px;
  height: 55px;
  margin-top: 22px;
  color: white;
  font-family: "Inter", sans-serif;
}

/* Income */

.host-income-container { 
  margin: 0 1em;
  text-align: left;
}

.host-income-summary-text {
  margin: 1em 0em;
}

.host-income-summary-text > h1 { 
  margin: 0;
}

.underline-bold { 
  text-decoration: underline;
  font-weight: bold;
}

.bar-chart-container {
  height: 350px;
  width: 100%;
}

.last-month-income {
  font-size: 2.5rem;
}

.host-transactions-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.host-transaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  padding: 0 1em;
}

.last-transactions {
  padding-bottom: 1em;
}