*{
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #FFF7ED;
  color: #000000;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#root {
  /* max-width: 1920px; */
  margin: 0 auto;
  text-align: center;
}

/* Navbar */

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 1em;
  background-color: #FFF7ED;
}

.links-container {
  display: flex;
  align-items: center;
  padding: 0 0.5em;
  gap: 0.9em;
  color: #4D4D4D;
}

.nav-container > a, .links-container > a, .host-layout-container > a {
  text-decoration: none;
}

.nav-container a:hover, .host-layout-container a:hover {
  color: #161616;
  text-decoration: underline;
}

#vanlife-link {
  font-size: 2em;
  color: #000000;
  font-weight: bold;
}

.links-container > a{
  color: #4D4D4D;
}

/* Home page */

.hero {
  background:  linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)), url("./assets/image53.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 350px;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  overflow: hidden;
  text-align: left;
  padding: 45px 23px;
  color: #FFF7ED;
}

.hero > p {
  line-height: 24px;
  font-size: 1.1rem;
}

.hero > h1 {
  font-size: 2.4rem;
  line-height: 42px;
}

.search-van-btn {
  background-color: #FF8C38;
  width: 100%;
  text-align: center;
  height: 3em;
  margin-top: 4em;
  font-weight: bold;
}

/* About page */

.about-page-picture {
  width: 100%;
}

.about-page-picture > img {
  width: 100%;
}

.about-page-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #FFF7ED;
  color: #161616;
  height: 100vh;
  padding: 0 2em;
}

.about-page-content {
  padding-inline: 23px;
  color: #161616;
}

.about-page-content h1 {
  line-height: 38px;
}

.about-page-content p {
  line-height: 22px;
}

.about-page-cta {
  background-color: #FFCC8D;
  color: #161616;
  padding-inline: 32px;
  padding-bottom: 32px;
  margin-inline: 27px;
  border-radius: 5px;
  margin-top: 30px;
}

.about-page-cta h2 {
  margin: 0;
  padding-block: 37px;
}

.about-page-cta .link-button {
  background-color: #161616;
  color: white;
  border-radius: 10px;
}

/* Vans */

.vans-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 160px);
  justify-content: space-around;
}

/* VanCard */

.van-card {
  color: #000000;
  text-align: start;
}

.van-card > img {
  width: 160px;
  border-radius: 5px;
}

.van-card-text {
  display: flex;
  justify-content: space-between;
  align-items:baseline;
  font-size: 0.85rem;
  margin-top: -15px;
}

.van-card-price-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0;
}


.van-card-price-container h3 {
  margin: auto 0 0 0;
}

.van-card-price-container p {
  margin: 0; 
  padding: 0;
}

.van-card-type {
  color: white;
  /* background-color: #E17654; */
  display: inline-flex;
  padding: 0.25em 0.5em;
  margin: 10px;
  border-radius: 5px;
  font-weight: normal;
}

.van-card-type-simple-selected {
  background-color: #E17654;
}

.van-card-type-rugged-selected {
  background-color: #115E59;
}

.van-card-type-luxury-selected {
  background-color: #161616;
}

/* VanDetails */

.van-data-container {
  height: 100%;
}

.van-data {
  padding: 0 20px;
  text-align: left;
}

.van-data > img {
  border-radius: 5px;
  width: 100%;
} 

.van-data > button {
  background-color:#FF8C38;
  width: 100%;
}

.van-data > p {
  line-height: 22px;
}

/* HostLayout */

.host-layout-container {
  display: flex;
  align-items: center;
  padding: 0 1em;
  gap: 0.9em;
  color: #4D4D4D;
}

.host-layout-container > a {
  color: #4D4D4D;
}